PORT=5000

# Thay đổi thông tin PostgreSQL của bạn vào đây
DATABASE_URL="postgresql://postgres:password@localhost:5432/ntp_support_hub?schema=public"

# Mã bí mật để ký JWT (Đổi thành chuỗi ngẫu nhiên dài và an toàn)
JWT_SECRET="NTP_SUPER_SECRET_KEY_2026_!@#"
